@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------color---------------------------------------------*/
body{
	font-family: 'Roboto', sans-serif;
 	background-size: cover;
 	background-color: #eee;
}

header{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px
    
}

h1{
	font-size: 3em;
	color: #676767;
	text-align: left;
}
h2{
	font-size: 1em;
	text-align: center;
}
div{
	border-radius: 4px;
}




.bg-color-name-title{
    
    background-color: #676767;
}

.ul-menu-color-meet{
    background-color: #e67e22
}
.bg-color-videos{
    background-color: #9b59b6;
}
.ul-menu-color-audio{
    background-color: #9b59b6
}
.ul-menu-color-contact{
    background-color: #3498db
}
.ul-menu-color-reviews{
    background-color: #525252
}

.bg-color-three-reasons{
    background-color: #ffffff
}

.logo{
    background: url("./images/cover-image.jpg");
    color: #676767;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    min-width: 360px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}

navbar ul li{
    display: flex;
	flex-flow: row;
	font-family: roboto;
	margin: 30px auto;
	width: 100%;
	padding:20px 20px 20px 20px;
	background-position: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

ul{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items:flex-start;
	border-radius: 10px;
	list-style-type: none; /*Remove Bullets*/
	padding: 0;	
}
li{
	flex:1;
	flex-flow: row;
	justify-content: space-between;
	height: 30px;
	width:10%;
	display: flex;
	border:2px solid #000;
	background-color: #81BBC9;
	border-radius: 10px;
	font-family: Dosis;
	padding:20px 20px 20px 20px;
	text-align: center;
	font-size: 1.3em;
	align-items: center;
}


.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 8px 8px 8px 8px;
    border-radius: 100%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
}
.social-links li a i:hover {
    background: #e84610;
}
     
 
.img-fluid{ max-width: 80%;
height: auto;
background-position: center;
padding: 20px 20px 20px 20px;
}

.center {
  display: block;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


#logoNav{
	flex:6;
	text-align: left;
	font-size: 3em;
	font-weight: bold;
}

.menuitem hvr-sweep-to-bottom:before{
    background: RGBA(0, 0, 0, 0.2);
    height: 120px;
    }
    
    .about-videos{
	flex:1; /* */
	display: flex;
	flex-flow:row wrap;
	justify-content:space-between;
	padding: 20px 20px 20px 20px;
	max-width:none;
    }
    
    .about{
	text-align: left;
	align-items: left;
	padding-top: 10px;
    padding-left: 80px;
    padding-bottom: 10px
    }
    
    .vid1{
        padding:10px 10px 10px 10px;
        margin: 30px auto;
    }
    .vid2{
        padding:10px 10px 10px 10px;
        margin: 30px auto;
    }
    
    
    
/*@media screen and (max-width: 700px){

}*